*,
*::after,
*::before,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  height: 62px;

}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color:#01416f;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: none;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: relative;
  top: 17px;
  left: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
*,
*::after,
*::before,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
  padding-top: 20px;
    margin-bottom: 20px;
}
.navbar-brand {
    width:auto;
    height: 95px;

}
@media only screen and (max-width: 992px){
  .navbar-brand{
    width: 180px;
    height: auto;
    
  }
  .nav-container {
    display: block;
  }
}
@media only screen and (max-width: 1200px){
  .navbar-brand{
    width: 200px;
    height: auto;
  }
}
.nav-items{
    margin-left: 40px;
    display: inline-block;
    padding: 3px 3px;
    color: #01416f;
    
}
.hamberger-menu{
  display: none;
}
@media only screen and (max-width: 1200px){
  .nav-items{
    font-size: small;
  }
}
@media only screen and (max-width: 992px){
  .nav-items{
    display: none;
  }

  .hamberger-menu{
    display:inline;
    text-align: right;
    font-size: 40px;
    color: #01416f;
    margin-top: 20px;

  }
  


}

.top-nav-bar {
    margin-top: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01416f;
  }
  @media only screen and (max-width: 992px){
    .top-nav-bar{
     display: none;
  }
  }  
.top-nav-bar-apply {
    margin-top: 12px;
    margin-left: 200px;
    font-weight: bold;
    color: #febc42;
}
#top-nav-bar-apply-icon{
    color: #febc42;
}
  #menu-btn{
    color: #fffffe;
    display: none;
  }



  #li {
    float: left;
    display: block;   
  }
  
 #li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #li a:hover {
    color:#febc42;
  } 
  @media only screen and (max-width: 1200px){
    #li{
      font-size: small;
    }
    .top-nav-bar-apply{
      font-size: small;
      padding-left: -100px;
    }
    #top-nav-bar-apply-icon{
      font-size: small;
    }
  }
   /* first section start */

   /* first section start */

  #first-section-img{
    width: 1350px;
  }
  @media only screen and (min-width: 1400px){
    #first-section-img{
      width: 1440px;
  }
}
/* first section end */

/* Second section start */
.second-section{
    padding-top: 60px;
    padding-bottom: 150px;
}
.second-section-p-one{
    color: #01416f;
    font-family: Abril Fatface;
    font-size: 70px;
    font-weight: bolder;
}
.second-section-p-two{
    color: #01416f;
    font-size: 40px;
    font-weight: 800;

}
.second-section-p-three{
    color: #01416f;
    font-size: larger;
    font-weight: 600;
}
/* Second section end */
 /* third section start */
 .third-section{
    margin-top: 50px;
    background-color: #01416f;
    margin-left: 250px;
    padding-bottom: 130px;
 }
 .third-section-img{
    width: 400px;
    margin-left: -90px;
    margin-top: -100px;

 }
 /* third section end */

  /* fourth section start */
  .fourth-section{
    margin-top: 100px;
    background-color: #01416f;
    margin-right: 250px;
    margin-bottom: -50px;
 }
 .fourth-section-img{
    width: 400px;
    margin-left: 800px;
    margin-top: -80px;

 }
 /* fourth section end */

 /* fifth section start */
 .fifth-section{
    margin-top: 100px;
    background-color: #01416f;
    margin-left: 250px;
 }
 .fifth-section-img{
    width: 450px;
    margin-left: -90px;
    margin-top: 100px;

 }
 /* fifth section end */

 /* upper-footer section start */
.upper-footer-section{
  padding-top: 50px;
  border-bottom-style: solid;
  border-color:#01416f;

}
.upper-footer-section-img{
  margin-left: 0px;
  width: 100%;
  background-image: url("../images/Rectangle11907.jpg");
}
.upper-footer-section-h1{
  background-color: rgba(0, 0, 0, 0.603);
  color: #fffffe;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 440px;
  font-size: 55px;
  font-weight: 700;
}
@media only screen and (max-width: 1200px){
  .upper-footer-section-h1{
    font-size: 40px;
    padding-left: 280px;
  }
}
@media only screen and (max-width: 992px){
  .upper-footer-section-h1{
    font-size: 30px;
    padding-left: 210px;
  }
}
@media only screen and (max-width:425px){
  .upper-footer-section-h1{
    font-size: 30px;
    padding-left: 60px;
  }
}
/* upper-footer section end */

      /* footer section start */
  .footer-p{
    margin-top: 40px;
  }
  .footer-section-logo{
    width: 200px;
    height: 70px;
    margin-top: 10px;
  }
  .footer-headers {
    padding-bottom: 10px;
  }
  .footer-section{
    margin-top: 40px;
    padding-left: 50px;
  }
  #col-lg-3-footer{
    border-right-style: solid;
    border-color:#febc42;
    border-bottom: 20px;
  }
  .footer-section-two {
    background-color: #01416f;
    color: #fffffe;
    margin-top: 40px;
  }
  .last-word-on-footer{
    margin-top: 20px;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #footer-section-two-icons{
    color: #fffffe;
    padding-left: 15px;
  }
  .icons-footer{
    margin-top: 30px;
    margin-left: 200px;
    size: 40px;
    
  }
  #footer-section-h3{
    color: #01416f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  @media only screen and (max-width: 1200px){
    .icons-footer{
      margin-top: 30px;
      margin-left: 100px;
  }
}
  @media only screen and (max-width: 992px){
    .footer-section-two{
      padding-left: 150px;
    }
    .icons-footer{
      margin-top: -10px;
      padding-bottom: 40px;
}
@media only screen and (max-width: 425px){
  .footer-section-two{
    padding-left: 0px;
  }
  .icons-footer{
    margin-left: 70px;
    margin-top: -10px;
    padding-bottom: 40px;
}
}
}
  /* footer section end */