   /* first section start */

  #first-section-img{
    width: 100%;
  }
  @media only screen and (min-width: 1400px){
    #first-section-img{
      width: 100%;
  }
  @media only screen and (min-width: 1200px){
    #first-section-img{
      width: 100%;
  }
  @media only screen and (min-width: 992px){
    #first-section-img{
      width: 100%;
  }
}
  }

}
/* first section end */

/* Second section start */
.second-section{
  padding-top: 120px;
}
.second-section-h1 {
  color: #01416f;
  font-family:  Abril Fatface;
  font-size: 80px;
  font-weight:normal;
}  
.second-section-h3{
  color: #01416f;
  font-weight:800;
  font-size: 45px;
}
.second-section-h1{
  padding-top: 20px;
}
.second-section-p{
  font-weight: 400;
  font-size: 16px;
  padding-top: 20px;
  font-family: poppins;
}
#second-section-img{
  width: 520px;
  height: auto;
}
.second-section-sub-p{
  font-family: poppins;
  padding-top: 50px;
  font-weight: 400;
  font-size: 16px;
  padding-top: 20px;
}
@media only screen and (max-width: 1200px){
  .second-section{
    padding-top: 70px;
  }
  .second-section-p{
    font-size: 16px;
  }
  .second-section-h1{
    font-size: 70px;
  }
  .second-section-h3{
    font-size: 30px;
  }
  .second-section-sub-p{
    font-size: 16px;
  }
  #second-section-img{
    width: 400px;
    height: auto;
  }
  
}

/* Second section end */

/* third section start */
.third-section {
  background-color: #01416f;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: 200px;
  padding-right: 150px;
}
.third-section-h3{
  color: #febc42;
  font-family:  Abril Fatface;
  margin-top: 20px;
  font-weight:normal;
  font-size: 40px;

}
.third-section-p1{
  color: #fffffe;
  font-size: 20px;
  font-family:  Poppins;
  border-left-style: solid;
  border-color: #febc42;
  border-width: 4px;
  padding-left: 10px;
}
.third-section-p2{
  font-family:  Poppins;
  color: #fffffe;
  font-weight: 300;
  font-size: 16px;
}
.third-section-img{
  margin-top: -680px;
  margin-left: -140px;
}
@media only screen and (max-width: 1200px){
  .third-section{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .third-section-img{
    width: 450px;
    padding-top: 0px;
    margin-top: -700px ;
  }
  .third-section-h3{
    font-size: 30px;
  }
  .third-section-p1{
    font-size: 18px;
  }
  .third-section-p2{
    font-size: 15px;
  }
}
@media only screen and (max-width: 992px){
  .third-section {
    padding-top: 10px;
    padding-right: 20px;
    margin-right: 50px;
  }
  .third-section-img{
    width: 180px;
    margin-top: -580px;
    margin-left: -200px;
  }
}
@media only screen and (max-width:425px){
  .third-section-img{
    display: none;
  }
  .third-section {
    margin-left: 20px;
  }
}
/* third section end */

/* fourth-sector-start */

.fourth-section{
  margin-top: 100px;
}
#fourth-sector-img{
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 1500px){
  #fourth-sector-img{
    width: 100%;
}
}
@media only screen and (max-width: 1200px){
  #fourth-sector-img{
    width: 100%;
  }
}
@media only screen and (max-width: 992px){
  #fourth-sector-img{
    width: 100%;
  }
}
@media only screen and (max-width: 425px){
  #fourth-sector-img{
    width: 100%;
  }
}
/* fourth-sector-end */

/* fifth section start */
.fifth-section{
  padding-left: 50px;
  padding-top: 90px;
}
.fifth-section-h1{
  font-family: Abril Fatface;
  color: #01416f;
  font-weight: 900;
}
.fifth-section-ul{
  list-style-type:square;
  text-align: start;
}
.fifth-section-li{
  padding-top: 30px;
  color: #01416f;
  gap: 50px;
  padding-left: 20px;
  font-size: 22px;
}
.fifth-section-ul::before{
  color: #febc42 !important;
}

/* fifth section end */