   /* first section start */

  #first-section-img{
    width: 100%;
  }
  @media only screen and (min-width: 1400px){
    #first-section-img{
      width: 100%;
  }
  @media only screen and (min-width: 1200px){
    #first-section-img{
      width: 100%;
  }
  @media only screen and (min-width: 992px){
    #first-section-img{
      width: 100%;
  }
}
  }

}
/* first section end */

/* Second section start */

.second-section{
  padding-top: 60px;
}
.second-section-h1 {
  color: #01416f;
  font-family:  Abril Fatface;
  font-size: 80px;
}  
@media only screen and (max-width: 1200px){
  .second-section-h1{
    font-size: 60px;
}
}
@media only screen and (max-width: 992px){
  .second-section-h1{
    font-size: 50px;
}
}
@media only screen and (max-width: 425px){
  .second-section-h1{
    margin-left: 0px;
    font-size: 45px;
}
}
@media only screen and (max-width: 400px){
  .second-section-h1{
    margin-left: 0px;
    font-size: 35px;
}
}
.second-section-h1{
  padding-top: 20px;
}
.second-section-p{
  color: #01416f;
  font-weight: 900;
  font-size: 41px;
  padding-top: 20px;
}
@media only screen and (max-width: 1200px){
  .second-section-p{
    font-size: 30px;
}
}
@media only screen and (max-width: 992px){
  .second-section-p{
    font-size: 25px;
}
}
@media only screen and (max-width: 425px){
  .second-section-p{
    font-size: 20px;
}
}
@media only screen and (max-width: 400px){
  .second-section-p{
    margin-left: 0px;
    font-size: 15px;
}
}
/* Second section end */

/* third section start */
.third-section{
  margin-top: 150px;
  background-image: url("../images/Educationalservices/admission.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#third-section-col{
  background-color:#011b2ed5;
  padding-top: 250px;
  padding-bottom: 250px;
}
.third-section-h1{
  padding-left: 100px;
  color: #febc42;
  font-weight: lighter;
  font-family:  Abril Fatface;
  font-size:60px;
}
@media only screen and (max-width: 1200px){
  .third-section-h1{
    font-size: 40px;
}
}
@media only screen and (max-width: 992px){
  .third-section-h1{
    font-size: 50px;
    margin-left: 125px;
}
  #third-section-col{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .third-section{
    margin-top: 100px;
}
}
@media only screen and (max-width:425px){
  .third-section-h1{
    font-size: 30px;
    margin-left: 5px;
}
  #third-section-col{
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .third-section{
    margin-top: 60px;
}
}
/* third section end */

  /* fourth section start */
.fourth-section{
  padding-top: 100px;
  padding-left: 20px;
}
.fourth-section-p-one{
  padding-top: 40px;
  padding-left: 40px;
  color: #01416f;
  font-size: 28px;
  font-weight: 700;
  font-family: Exo;

}
.fourth-section-h1{
  color: #01416f;
  padding-left: 40px;
  font-size:40px;
  font-weight: lighter;
  font-family: Abril Fatface;
}
.fourth-section-p-two{
  font-family: poppins;
  color: rgb(51, 50, 50);
  padding-top: 20px;
  padding-left: 40px;
  font-weight: 500;
  font-size: 17px;
}
@media only screen and (max-width: 992px){
  .fourth-section{
    padding-top: 50px;
    padding-left: 10px;
  }
  .fourth-section-p-one{
    font-size: 20px;
    margin-left: -30px;
  }
  .fourth-section-h1{
    font-size:35px;
    padding-left: 20px;
  }
  .fourth-section-p-two{
    padding-top: 20px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 16px;
  }
}
  /* fourth section end */

  /* fifth section start */
  .fifth-section{
    margin-top: 50px;
    background-image: url("../images/Educationalservices/visa-guidance.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #fifth-section-col{
    background-color:#052338e1;
    padding-top: 240px;
    padding-bottom: 200px;
  }
  .fifth-section-h1{
    padding-left: 100px;
    color: #febc42;
    font-weight: lighter;
    font-family: Abril Fatface;
    font-size:60px;
  }
  @media only screen and (max-width: 992px){
    #fifth-section-col{
      padding-top: 40px;
      padding-bottom: 50px;
    }
    .fifth-section-h1{
      font-size:50px;
      padding-left: 240px;
    }
  }
  @media only screen and (max-width:425px){
    .fifth-section-h1{
      font-size:35px;
      padding-left: 120px;
    }
  }

  /* fifth section end */

  /* sixth section start */
  .sixth-section{
    padding-top: 50px;
  }
  .six-section-p-one{
    padding-top: 40px;
    padding-left: 50px;
    color: #01416f;
    font-size: 30px;
    font-weight: 700;
    font-family: Exo;
  }
  .six-section-p-two{
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 18px;
  }
  @media only screen and (max-width: 992px){
    .sixth-section{
      padding-top: 20px;
    }
    .six-section-p-one{
      padding-left: 10px;
    }
    .six-section-p-two{
      padding-left: 10px;
      font-size: 16px;
    }
  }
  /* sixth section end */

  /* seventh section start */
.seventh-section {
  padding-top: 70px;

}

.seventh-section-h1{
  text-align: center;
  font-size: 35px;
  color: #01416f;
  font-family: Abril Fatface;
  font-weight: lighter;
  padding-bottom: 40px;
}
.seventh_section_background{
  background-color: #01416f;
  padding-top: 70px;
  padding-bottom: 20px;
}
/* #seventh-section-col{
  background-color: #01416f;
  padding-left: 30px;
  padding-top: 60px;
  margin-left: 10px;
} */

.seventh-section-p{
  color: #fffffe;
  padding-left: 20px;
  padding-right: 50px;
}
@media only screen and (max-width: 1200px){
  
}
@media only screen and (max-width: 992px){

}
@media only screen and (max-width: 425px){
}
  /* seventh section end */

   /* eighth section start */
   .eighth-section{
    margin-top: 50px;
    background-image: url("../images/Educationalservices/additional-services.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #eighth-section-col{
    background-color:#011b2ed5;
    padding-top: 240px;
    padding-bottom: 200px;
  }
  .eighth-section-h1{
    padding-left: 100px;
    color: #febc42;
    font-weight: lighter;
    font-family: Abril Fatface;
    font-size:60px;
  }
  @media only screen and (max-width: 1200px){
    .eighth-section-h1{
      font-size:40px;
  }
}
  @media only screen and (max-width: 992px){
    #eighth-section-col{
      padding-top: 40px;
      padding-bottom: 50px;
    }
    .eighth-section-h1{
      font-size:50px;
      padding-left: 240px;
    }
  }
  @media only screen and (max-width:425px){
    .eighth-section-h1{
      font-size:35px;
      padding-left: 120px;
    }
  }
    /* eighth section end */

    /* ninth section start */
.nineth-section{
  margin-top: 70px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.nineth-section-h1-one{
  padding-top: 85px;
  padding-left: 20px;
   font-size: 30px;
  color: #01416f;
  font-weight: 700;
  font-family: Exo;
}
.nineth-section-h1-two{
  font-size: 35px;
  color: #01416f;
  font-family: Abril Fatface;
  font-weight: lighter;
  padding-left: 20px;
}
.nineth-section-p{
    padding-top: 5px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 18px;
}
@media only screen and (max-width: 992px){
  .nineth-section{
    margin-top: 0px;
  }
  .nineth-section-h1-one{
    padding-bottom: 40px;
    margin-left: -20px;
    font-size: 35px;
  }
  .nineth-section-h1-two{
    font-size: 25px;
  }
  .nineth-section-p{
    font-size: 16px;
  }
}

 /* ninth section end */