*,
*::after,
*::before,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
  padding-top: 20px;
    margin-bottom: 20px;
}
.navbar-brand {
    width:auto;
    height: 95px;

}
@media only screen and (max-width: 992px){
  .navbar-brand{
    width: 180px;
    height: auto;
  }
}
@media only screen and (max-width: 1200px){
  .navbar-brand{
    width: 200px;
    height: auto;
  }
}
.nav-items{
    display: inline-block;
    padding: 3px 3px;
    color: #01416f;
    
}
.nav-item:hover{
  color: #febc42;
}
.hamberger-menu{
  display: none;
}
@media only screen and (max-width: 1200px){
  .nav-items{
    font-size: x-small;
  }
}
@media only screen and (max-width: 992px){
  .nav-items{
    display: none;
  }
  .topnavbar-section{
    background-color:#fffffe;
  }

  .hamberger-menu{
    display:inline;
    text-align: right;
    font-size: 40px;
    color: #01416f;
    margin-top: 20px;

  }
  


}
.topnavbar-section{
  background-color: #01416f;
}
#navbar{
    margin-top: 20px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #01416f;
  }
  @media only screen and (max-width: 992px){
    .top-nav-bar{
     display: none;
  }
  .navbar-apply{
    display: none;
  }
  } 
  #navbaritems{
    color: #ffffff;
  } 
  #navbaritemsdrop{
    color: #01416f;
  } 
.navbar-apply {
    margin-top: 12px;
    margin-left: 500px;
    font-weight: bold;
    color: #febc42;
}
#navbar-apply-icon{
  color: #febc42;
}

  #menu-btn{
    color: #fffffe;
    display: none;
  }
  .navbar-toggler{
    background-color: #fffffe;
   }
/*   
    @media (min-width: 992px){
    nav-item.dropdown{
    margin-top: 0!important;
}
   } */

  #li {
    float: left;
    display: block;   
  }

  li{
    margin-top: 0 !important;
  }
  
 #nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #navbarSupportedContent:hover {
      color:#febc42;
  } 
  @media only screen and (max-width: 1200px){
    .navbar-apply {
      margin-top: 12px;
      margin-left: 300px;
      font-weight: bold;
      color: #febc42;
  }
    #li{
      font-size: small;
    }
    .top-nav-bar-apply{
      font-size: small;
      padding-left: -50px;
    }
    #top-nav-bar-apply-icon{
      font-size: small;
    }
  }
  /* first section start */
.firstimg{  
    background-size: cover !important; 
    width: 100%;
    height: 100vh;
    background:url("../images/body.jpg");
    background-repeat: no-repeat;                
  }
  @media only screen and (max-width: 1400px){
    .firstimg{
      width: 100%;
    }
  }
  @media only screen and (max-width: 1200px){
    .firstimg{
      width: 100%;
    }
  }
  @media only screen and (max-width: 992px){
    .firstimg{
      width: 100%;
    }
  }
  @media only screen and (max-width: 425px){
    .firstimg{
      width: 100%;
      height: 100%;
    }
  }

  /* .firstimg:hover{
    position: relative;
    opacity: 0;
    cursor:alias;

} */
/* .first-video{
    background-color: black;
    position: absolute;
    top:140px;
    width:100%; 
    height:auto;
    
}   */

/* iframe{
    width: 1440px;
    height: 700px;
} */

  .firstimg-word-h1{
   padding-left: 20px;
    color:#fffffe;
    margin-top: -200px;
    font-size: 50px;
    font-weight: bolder;
    line-height: 50px;
    border-left-style: solid;
    border-color: #febc42;
    border-width: 7px;
  }
  @media only screen and (max-width: 425px){
    .firstimg-word-h1{
      font-size: 27px;
      line-height: 30px;
      margin-top: -100px;
      padding-left: 10px;
      margin-left: 20px;
    }
  }
  .firstimg-word-h4{
    position: absolute;
    color: #fffffe;
    margin-top: -145px;
    margin-left: 280px;
  }
  @media only screen and (max-width: 425px){
    .firstimg-word-h4{
      display: none;
    }
    .firstimg-word-p{
      display: none;
    }
  }
  .firstimg-word-p{
    position: absolute;
    color: #fffffe;
    margin-top: -90px;
    margin-left: 280px;
  }

 h1 {
    margin-top: 30px;
    font-weight: bold;
    color: #01416f;
}
h2 {
    margin-top: 30px;
    font-weight: bold;
    color: #01416f;
}
#footer-section-h3 {
    margin-top: 30px;
    font-weight: bold;
    color: #01416f;
    font-family: Georgia;
}
h3 {
    margin-top: 50px;
    font-weight: bold;
    color: #01416f;
    font-family: Georgia;
}
h4::before{
    content: url();
}

h6 {
    margin-top: 20px;
    color:#01416f;
}
button { 
    outline: none; 
}

#btn1{
    margin-top: 30px;
    position: relative;
    padding-block: 35px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:#01416f;
    transition: width 0.5s;
    overflow: hidden;
    
}
#btn1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #febc42;
    transition: height linear 0.3s;
    z-index: -1;

}
#btn1:hover{
    background-color:transparent;
}
#btn1:hover::before{
    height:10%;
}
#btn2{
    margin-top: 30px;
    position: relative;
    display: inline-block;
    padding-block: 35px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    background-color:#01416f;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:aliceblue;
    transition: width 0.5s
   
}
#btn2a {
    color: #fffffe;
}
/* first section end */

/* second section start */
.second-imge{
    width: auto;
    height: 95%;
    margin-left: -50px;
    min-height: 0px;
    
}
@media only screen and (max-width: 1400px){
  .second-imge{
    width: 130% ;
    height: auto;
  }
}
@media only screen and (max-width: 1200px){
  .second-imge{
    width: 20px ;
    height: auto;
  }
}
@media only screen and (max-width: 576px){
  .second-imge{
    display: none;
  }
}
.second-section-sub{
    margin-top: -120px;
}
i{
    color:#01416f;
    font-weight: bold;
}
.divider{
    margin-top: 15px;
    width: 420px;
    height: 3px;
    background-color: #01416f;
    display: inline-block;

}
.second-section-sub{
    margin-left: -20px;
}
#secondsub3{
  padding-left: 10px;
}
#col-lg-4-0{
  background-color: #fffffe;
}

@media only screen and (max-width: 576px){
  .second-section-sub{
  padding-top: 150px;
  padding-left: 0px;
  }
}
#second-section-h4{
    border-left-style: solid;
    border-color: #febc42;
    padding-left: 20px;

    
}
/* second section end */
/* third section start */
.third-section{
    position: relative;
    padding-bottom: 200px;
    margin-top: 40px;
}
#third-section-btn{
    margin-left: 0px;
    margin-top: 30px;
    position: relative;
    padding-block: 35px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:#ffffff;
    transition: width 0.5s;
    overflow: hidden;
    
}
#third-section-btn::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #febc42;
    transition: height linear 0.3s;

}
#third-section-icon{
    color: #fffffe;
}
#third-section-btn:hover{
    background-color:transparent;
}
#third-section-btn:hover::before{
    height:10%;
}
#thirdh1{
    color: #fffffe;
    padding-top: 50px;
    padding-left: 50px;
    font-family: serif;
    font-size: 65px;
}
@media only screen and (max-width: 576px){
  #thirdh1{
    padding-left: 100px;
  }
  #third-section-btn{
    margin-left: 100px;
  }
  li img{
    margin-left: -40px;
    width: 25%;
  }
}
#rd-span{
    border-bottom-style: solid;
    border-color: #febc42;
    border-width: 5px;
}
    .bg {

        background-color: #01416f;
        background-size: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        right:0;
        bottom: 40;
        left: 0;
        transition: 1s;
        pointer-events: none;
      }
      .li-class {
        margin-top: 70px;
      }
      li
      {  list-style:none;
        margin-top: 20px
         }
      
      li img
          {
            float: left;
            width:45%;
            padding:10px ;
            margin-top: 0px;
            transition: all .25s ease-in;

          }
      #li-img{
        width: 270px;
        margin-left:-60px;
        margin-top: -150px;
      }
      #li-img-2{
        margin-top: 100px;
      }
      li img:hover  {
            margin:-0px 0 0 0;
      }
      
      .menu
          {  width:500px;
             margin:60px auto 0 auto;
             border-radius:10px;
             overflow:hidden;}
             
      .menu li:first-child img {  background:transparent !important;}
      .menu li:nth-child(2) img {  background:transparent !important;}
      .menu li:nth-child(3) img {  background:transparent !important;}
      
      .menu li:first-child:hover ~ .bg {
        background-image: url("../images/slide-1.png");
        background-repeat: no-repeat;
        
      }.menu li:nth-child(2):hover ~ .bg {
        background-image: url("../images/slide-2.jpg");
        background-repeat: no-repeat;
      }
      .menu li:nth-child(3):hover ~ .bg {
        background-image: url("../images/slide-3.png");
        background-repeat: no-repeat;
      }

/* third section end */
/* fourth section start */x

.news-title{
  padding: 100px 0;
}
#fourthh1{
  font-family: Lucida Bright;
  color: #01416f;
}
#fourthh5{
  margin-left: 75px;
  margin-top: 20px;
  padding-left: 20px;
  line-height: 28px;
  border-left-style: solid;
  border-color: #febc42;
}
#fourth-section-btn{
  margin-top: 30px;
  position: relative;
  display: inline-block;
  padding-block: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 18px;
  margin-left: 75px;
  background-color:transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  color:#01416f;
  transition: width 0.5s;
  overflow: hidden;
}
#fourth-section-btn::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #febc42;
  transition: height linear 0.3s;
  z-index: -1;

}
#fourth-section-btn:hover{
  background-color:transparent;
}
#fourth-section-btn:hover::before{
  height:10%;
}
.news-slider{
  position: relative;
  background-color: transparent;
  padding:50px 0;
}
.news-slider::before{
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #01416f;
  left: 20%;
  top: 0;

}
.news-content{
  position: relative;

}
.mask-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
}
.mask-wrap-p{
  padding: 10%;
  text-align: center;
  cursor: pointer;
  padding-top: 160px;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in;

}
#image-wrap-btn{
  right: 34%;
  bottom: 10%;
  padding-block: 5px;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  background-color: #febc42;
  color: #01416f;
  font-weight: bold;
  font-size: 12px;
  position: relative;
}
.mask-wrap-p:hover{
  padding-top: 100px;
}
/* fourth section end */
/* fifth section start */

.list-group{
  float: left;
  display: flex;
  margin: 0;
  list-style-type: none;
  margin-top: -195px;
  margin-left: 170px;

}
@media only screen and (max-width: 2500px){
  .list-group{
    margin-left: 50px;
  }
}
.list-group-item{
  padding-top: 10px;
  position:relative;
  padding-left: 50px;
  color: #01416f;
  background-color: #fff;
  padding-inline-end: 40px;
  transition: all 0.5s ease-in;

}
.list-group .list-group-item:hover{
  cursor: pointer;
  color:#01416f;
  background-color: #01416f60;
}
.content{
  margin: 30px auto;
  height: 500px;
  border-radius: 55;
  box-shadow: 0 2px 1px 0 #dcdcdc,0 -2px 1px 0 #dcdcdc;;
}

.red{
  background:url("../images/Rectangle11905.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.green{
  background:url("../images/Rectangle11904.jpg");
  background-size: cover;
}
.blue{
  background:url("../images/Rectangle11899.jpg");
  background-size: cover;
}
.purple{
  background:url("../images/Rectangle11899.jpg");
  background-size: cover;
}
#bg{
  height: 100%;
  width: 117%;
  background-size: cover;
}
#list-content{
  padding: 50px;
  text-align: center;
}
#list-content li{color: #fff; list-style: none;
font-size: 40px;
display: none;
}
.fifth-h4{
  color: black;
}
.fifth-h4-visa{
  color: black;
  padding-top: 26px;
}
.fifth-h4-add{
  color: black;
  padding-top: 15px;
}
.view-all{
  padding-bottom: 86px;
}

/* fifth section end */
.fifth-section{
  margin-top: 50px;
  width: 100%;
  margin-left: -85px;
}
.fifth-section-img{
  width: 115%;
}
@media only screen and (min-width: 1400px){
    .fifth-section-img{
      width: 110%;
  }
}
.Sixth-section{
    border-bottom-style: solid;
    border-color:#01416f;

}

#col-lg-3-0{
    border-right-style: solid;
    border-color:#01416f;
    border-width: thin;
}
#fourth-col-lg-8{
    display:flex;
    position:relative;
    margin-left: 530px;

}
#row-4{
    position: absolute;
    margin-top: -140px;
    background-color: #fffffe;
    padding-right: 10px;
    margin-left: 120px;
    
}
#col-lg-3-0:hover{
  background-color: transparent;
}
#col-lg-3-0:hover{
    cursor: pointer;
    height: 170px;
    bottom: -20px;
    background-color:rgba(7, 19, 88, 0.493);
    text-decoration-color:#febc42;
    
}

/* upper-footer section start */
 .upper-footer-section{
    padding-top: 50px;
    border-bottom-style: solid;
    border-color:#01416f;
  
  }
  .upper-footer-section-img{
    margin-left: 0px;
    width: 100%;
    background-image: url("../images/Rectangle11907.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .upper-footer-section-h1{
    background-color: rgba(0, 0, 0, 0.603);
    color: #fffffe;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
  }
  @media only screen and (max-width: 1200px){
    .upper-footer-section-h1{
      font-size: 40px;
      padding-left: 280px;
    }
  }
  @media only screen and (max-width: 992px){
    .upper-footer-section-h1{
      font-size: 30px;
      padding-left: 210px;
    }
  }
  @media only screen and (max-width:425px){
    .upper-footer-section-h1{
      font-size: 30px;
      padding-left: 60px;
    }
  }
  /* upper-footer section end */
  
        /* footer section start */
    .footer-p{
      margin-top: 40px;
    }
    .footer-section-logo{
      width: 200px;
      height: 70px;
      margin-top: 10px;
    }
    .footer-headers {
      padding-bottom: 10px;
    }
    .footer-section{
      margin-top: 40px;
      padding-left: 50px;
    }
    #col-lg-3-footer{
      border-right-style: solid;
      border-color:#febc42;
      border-bottom: 20px;
    }
    .footer-section-two {
      background-color: #01416f;
      color: #fffffe;
      margin-top: 40px;
    }
    .last-word-on-footer{
      margin-top: 20px;
      margin-left: 60px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    #footer-section-two-icons{
      color: #fffffe;
      padding-left: 15px;
    }
    .icons-footer{
      margin-top: 30px;
      margin-left: 200px;
      size: 40px; 
    }
    #footer-section-h3{
      color: #01416f;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bolder;
    }
    @media only screen and (max-width: 1200px){
      .icons-footer{
        margin-top: 30px;
        margin-left: 100px;
    }
  }
    @media only screen and (max-width: 992px){
      .footer-section-two{
        padding-left: 150px;
      }
      .icons-footer{
        margin-top: -10px;
        padding-bottom: 40px;
  }
  @media only screen and (max-width: 425px){
    .footer-section-two{
      padding-left: 0px;
    }
    .icons-footer{
      margin-left: 70px;
      margin-top: -10px;
      padding-bottom: 40px;
  }
  }
  }

    /* footer section end */

