*,
*::after,
*::before,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
  padding-top: 20px;
    margin-bottom: 20px;
}
.navbar-brand {
    width:auto;
    height: 95px;

}
@media only screen and (max-width: 992px){
  .navbar-brand{
    width: 180px;
    height: auto;
  }
}
@media only screen and (max-width: 1200px){
  .navbar-brand{
    width: 200px;
    height: auto;
  }
}
.nav-items{
    margin-left: 20px;
    display: inline-block;
    padding: 3px 3px;
    color: #01416f;
    
}
.hamberger-menu{
  display: none;
}
@media only screen and (max-width: 1200px){
  .nav-items{
    font-size: small;
  }
}
@media only screen and (max-width: 992px){
  .nav-items{
    display: none;
  }

  .hamberger-menu{
    display:inline;
    text-align: right;
    font-size: 40px;
    color: #01416f;
    margin-top: 20px;

  }
  


}

#navbar{
    margin-top: 40px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #01416f;
  }
  @media only screen and (max-width: 992px){
    .top-nav-bar{
     display: none;
  }
  .navbar-apply{
    display: none;
  }
  } 
  #navbaritems{
    color: #ffffff;
  } 
  #navbaritemsdrop{
    color: #01416f;
  }
.navbar-apply {
    margin-top: 12px;
    margin-left: 700px;
    font-weight: bold;
    color: #febc42;
}

  #menu-btn{
    color: #fffffe;
    display: none;
  }
  .navbar-toggler{
    margin-left: 700px;
    margin-top: -120px;
   }


  #li {
    float: left;
    display: block;   
  }
  
 #nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #nav-item a:hover {
    color:#febc42;
  } 
  @media only screen and (max-width: 1200px){
    #li{
      font-size: small;
    }
    .top-nav-bar-apply{
      font-size: small;
      padding-left: -100px;
    }
    #top-nav-bar-apply-icon{
      font-size: small;
    }
  }
   /* first section start */

  #first-section-img{
    width: 100%;
  }
  @media only screen and (min-width: 1400px){
    #first-section-img{
      width: 100%;
  }
  @media only screen and (min-width: 1200px){
    #first-section-img{
      width: 100%;
  }
  @media only screen and (min-width: 992px){
    #first-section-img{
      width: 100%;
  }
}
  }

}
  /* first section start */
.firstimg{   
    width: 100%;
    background:url("../images/body.jpg");
    background-repeat: no-repeat;                
  }
  /* .firstimg:hover{
    position: relative;
    opacity: 0;
    cursor:alias;

} */
/* .first-video{
    background-color: black;
    position: absolute;
    top:140px;
    width:100%; 
    height:auto;
    
}   */

/* iframe{
    width: 1440px;
    height: 700px;
} */

  .firstimg-word-h1{
    color:#fffffe;
    margin-top: -200px;
    font-size: 50px;
    font-weight: bolder;
    line-height: 50px;
    border-left-style: solid;
    border-color: #febc42;
    border-width: 5px;
  }
  .firstimg-word-h4{
    position: absolute;
    color: #fffffe;
    margin-top: -145px;
    margin-left: 280px;
  }
  .firstimg-word-p{
    position: absolute;
    color: #fffffe;
    margin-top: -90px;
    margin-left: 280px;
  }

 h1 {
    margin-top: 50px;
    font-weight: bold;
    color: #01416f;
}
h2 {
    margin-top: 30px;
    font-weight: bold;
    color: #01416f;
}
#footer-section-h3 {
    margin-top: 30px;
    font-weight: bold;
    color: #01416f;
    font-family: Georgia;
}
h3 {
    margin-top: 50px;
    font-weight: bold;
    color: #01416f;
    font-family: Georgia;
}
h4::before{
    content: url();
}
h4 {
    margin-top: 50px;

}
h6 {
    margin-top: 20px;
    color:#01416f;
}
button { 
    outline: none; 
}

#btn1{
    margin-top: 30px;
    position: relative;
    padding-block: 35px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:#01416f;
    transition: width 0.5s;
    overflow: hidden;
    
}
#btn1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #febc42;
    transition: height linear 0.3s;
    z-index: -1;

}
#btn1:hover{
    background-color:transparent;
}
#btn1:hover::before{
    height:10%;
}
#btn2{
    margin-top: 30px;
    position: relative;
    display: inline-block;
    padding-block: 35px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    background-color:#01416f;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:aliceblue;
    transition: width 0.5s
   
}
#btn2a {
    color: #fffffe;
}
/* first section end */

/* second section start */
.second-img {
    width: auto;
    height: 100px;
    margin-left: -70px;
    min-height: 0px;
    
}
.second-section-sub{
    margin-top: 100px;
}
i{
    color:#01416f;
    font-weight: bold;
}
.divider{
    margin-top: 15px;
    width: 420px;
    height: 3px;
    background-color: #01416f;
    display: inline-block;

}
.second-section-sub{
    padding-left: 30px;
}
#second-section-h4{
    border-left-style: solid;
    border-color: #febc42;
    padding-left: 20px;

    
}
/* second section end */
/* third section start */
.third-section{
    position: relative;
    padding-bottom: 200px;
}
#third-section-btn{
    margin-left: 150px;
    margin-top: 30px;
    position: relative;
    padding-block: 35px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:#ffffff;
    transition: width 0.5s;
    overflow: hidden;
    
}
#third-section-btn::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #febc42;
    transition: height linear 0.3s;

}
#third-section-icon{
    color: #fffffe;
}
#third-section-btn:hover{
    background-color:transparent;
}
#third-section-btn:hover::before{
    height:10%;
}
#thirdh1{
    color: #fffffe;
    padding-top: 150px;
    padding-left: 150px;
    font-family: serif;
    font-size: 65px;
}
#rd-span{
    border-bottom-style: solid;
    border-color: #febc42;
    border-width: 5px;
}
    .bg {

        background-color: #01416f;
        position: absolute;
        z-index: -1;
        top: 0;
        right:0;
        bottom: 40;
        left: 0;
        transition: 1s;
        pointer-events: none;
      }
      .li-class {
        margin-top: 70px;
      }
      li
      {  list-style:none;
        margin-top: 20px
         }
      
      li img
          {
            float: left;
            width:50%;
            padding:10px ;
            margin-top: 0px;
            transition: .25s;}
      
      li img:hover  {
            margin:-0px 0 0 0;
      }
      
      .menu
          {  width:500px;
             margin:60px auto 0 auto;
             border-radius:10px;
             overflow:hidden;}
             
      .menu li:first-child img {  background:transparent !important;}
      .menu li:nth-child(2) img {  background:transparent !important;}
      .menu li:nth-child(3) img {  background:transparent !important;}
      
      .menu li:first-child:hover ~ .bg {
        background-image: url("../images/slide-1.png");
        background-repeat: no-repeat;
        
      }.menu li:nth-child(2):hover ~ .bg {
        background-image: url("../images/slide-2.jpg");
        background-repeat: no-repeat;
      }
      .menu li:nth-child(3):hover ~ .bg {
        background-image: url("../images/slide-3.png");
        background-repeat: no-repeat;
      }

/* third section end */
/* fourth section start */
.fourth-section{
    margin-top: 0px;
    margin-left: 50px;
}
#fourth-col-lg-8{
    background-color: #01416f;
}
#fourthh1{
    margin-left: 75px;
    margin-top: 120px;
    font-family: Lucida Bright;
}
#fourthh5{
    margin-left: 75px;
    margin-top: 20px;
    padding-left: 20px;
    line-height: 28px;
    border-left-style: solid;
    border-color: #febc42;
}
#fourth-section-btn{
    margin-top: 30px;
    position: relative;
    display: inline-block;
    padding-block: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 75px;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:#01416f;
    transition: width 0.5s;
    overflow: hidden;
}
#fourth-section-btn::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #febc42;
    transition: height linear 0.3s;
    z-index: -1;

}
#fourth-section-btn:hover{
    background-color:transparent;
}
#fourth-section-btn:hover::before{
    height:10%;
}


#card-1{
    width: 220px;
    height: 250px;
    padding-bottom: 120px;
    padding-top: -100px;
    background: transparent;
    margin-top: -280px;
    transition: 0.5s;
    margin-left: 540px;
    

}
#card-2{
    margin-top: -280px;
    margin-left: 30px;
    width: 220px;
    height: 250px;
    padding-bottom: 120px;
    padding-top: -100px;
    background: transparent;
    transition: 0.5s;
    
    
}
#card-3{
    margin-top: -280px;
    margin-left: 1040px;
    width: 220px;
    height: 250px;
    padding-bottom: 120px;
    padding-top: -100px;
    background: transparent;
    
}
@media only screen and (max-width: 992px){

}
.intro1{
    position: absolute;
    text-align: center;
    width: 195px;
    height: 240px; 
    background-color: rgba(3, 3, 3, 0.315);
    opacity: 1;
    color: #fffffe;
    display:flex;
    flex-direction: column;
    justify-content: end;
}
.intro2{
    position: absolute;
    text-align: center;
    width: 195px;
    height: 240px;  
    background-color: rgba(3, 3, 3, 0.315);
    opacity: 1;
    color: #fffffe;
    display:flex;
    flex-direction: column;
    justify-content: end;
}
.intro3{
    position: absolute;
    text-align: center;
    width: 195px;
    height: 240px;  
    background-color: rgba(3, 3, 3, 0.315);
    opacity: 1;
    color: #fffffe;
    display:flex;
    flex-direction: column;
    justify-content: end;
}
.fourth-section-intro-h4-1 {
    margin-top: 110px;
}
.fourth-section-intro-h4-2 {
    margin-top: 110px;
}
.fourth-section-intro-h4-3 {
    margin-top: 110px;
}

#fourth-section-intro-button-1{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#febc42;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    color:#01416f;
    display: none;
}
#fourth-section-intro-button-2{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#febc42;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    color:#01416f;
    display: none;
}
#fourth-section-intro-button-3{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    font-weight: bold;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#febc42;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    color:#01416f;
    transition:0.5s;
    display: none;

}
.intro1:hover #fourth-section-intro-button-1{
    display:block; 
    
}
.intro2:hover #fourth-section-intro-button-2{
    display:block;
}
.intro3:hover #fourth-section-intro-button-3{
    display:block;
}
.Sixth-section{
    border-bottom-style: solid;
    border-color:#01416f;

}

#col-lg-3-0{
    border-right-style: solid;
    border-color:#01416f;
    border-width: thin;
}
#fourth-col-lg-8{
    display:flex;
    position:relative;
    margin-left: 530px;

}
#row-4{
    position: absolute;
    margin-top: -140px;
    background-color: #fffffe;
    padding-right: 10px;
    margin-left: 200px;
    
}
#col-lg-3-0:hover{
    cursor: pointer;
    height: 170px;
    bottom: -20px;
    background-color:rgba(103, 104, 110, 0.911);
    text-decoration-color:#febc42;
    
}

/* upper-footer section start */
.upper-footer-section{
    padding-top: 50px;
    border-bottom-style: solid;
    border-color:#01416f;
  
  }
  .upper-footer-section-img{
    margin-left: 0px;
    width: 100%;
    background-image: url("../images/Rectangle11907.jpg");
  }
  .upper-footer-section-h1{
    background-color: rgba(0, 0, 0, 0.603);
    color: #fffffe;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 440px;
    font-size: 55px;
    font-weight: 700;
  }
  @media only screen and (max-width: 1200px){
    .upper-footer-section-h1{
      font-size: 40px;
      padding-left: 280px;
    }
  }
  @media only screen and (max-width: 992px){
    .upper-footer-section-h1{
      font-size: 30px;
      padding-left: 210px;
    }
  }
  @media only screen and (max-width:425px){
    .upper-footer-section-h1{
      font-size: 30px;
      padding-left: 60px;
    }
  }
  /* upper-footer section end */
  
        /* footer section start */
    .footer-p{
      margin-top: 40px;
    }
    .footer-section-logo{
      width: 200px;
      height: 70px;
      margin-top: 10px;
    }
    .footer-headers {
      padding-bottom: 10px;
    }
    .footer-section{
      margin-top: 40px;
      padding-left: 50px;
    }
    #col-lg-3-footer{
      border-right-style: solid;
      border-color:#febc42;
      border-bottom: 20px;
    }
    .footer-section-two {
      background-color: #01416f;
      color: #fffffe;
      margin-top: 40px;
    }
    .last-word-on-footer{
      margin-top: 20px;
      margin-left: 60px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    #footer-section-two-icons{
      color: #fffffe;
      padding-left: 15px;
    }
    .icons-footer{
      margin-top: 30px;
      margin-left: 200px;
      size: 40px;
      
    }
    #footer-section-h3{
      color: #01416f;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bolder;
    }
    @media only screen and (max-width: 1200px){
      .icons-footer{
        margin-top: 30px;
        margin-left: 100px;
    }
  }
    @media only screen and (max-width: 992px){
      .footer-section-two{
        padding-left: 150px;
      }
      .icons-footer{
        margin-top: -10px;
        padding-bottom: 40px;
  }
  @media only screen and (max-width: 425px){
    .footer-section-two{
      padding-left: 0px;
    }
    .icons-footer{
      margin-left: 70px;
      margin-top: -10px;
      padding-bottom: 40px;
  }
  }
  }
    /* footer section end */
@media only screen and (min-width: 576px) {
    .navbar-brand{
        width: auto;
        height: 100px;
        margin-left: 80px;
    }
    .top-nav-bar {
        background-color:#01416f;
        width: 100%;
        height: auto;
        padding-top: 10px;
        position: absolute;
        top: 105px;
        right: 0;
        z-index: 2;

    }
    #li a{
        margin-top: 00px;
        margin-bottom: 0px;
        width: 100%;
        position:relative;
        top: 5px;
        right: 0;
        z-index: 2;
    }
    .firstimg{
        margin-top: 57px;
        height: 700px;
    }
    .firstimg-word-h1{
        font-size: 40px;
        margin-top: -190px;
        margin-left: 25px;
    }
    .firstimg-word-h4{
        font-size:25px;
        margin-left: 612px;
        margin-top: -175px;
        padding-bottom: 20px;
    }
    .firstimg-word-p{
        font-size: 13px;
        margin-left: 612px;
        margin-top: -115px;
    }
    .second-section{
        margin-left: 90px;
    }
    .second-section-sub{
        margin-left: 50px;
        width: 500px;
    }
    #se-se-sub-img {
        width: 405px;
    }

    #secondsub1{
        margin-bottom: 20px;
    }  
    #secondsub2{
        margin-bottom: 20px;
    }    
    .second-img{
       display: none;
        
     }
    /* #thirdh1{
        font-size: 45px;
        margin-left: 30px;
        margin-bottom: -90px;
    }
    #third-section-btn{
        margin-top: 125px;
        margin-left: 185px;
    }
    
    .image1-color{
        width: 150px;
        margin-top: -125px;
        margin-left: 130px;
    }
    .image1{
        width: 150px;
        height: auto;
        margin-top: -125px;
        margin-left: 115px;
        display: none;
    }
    .image2-b-w{
        display: none;
    }
    .image2{
        width: 201px;
        margin-top: 80px;
        margin-left: -220px;
    }
    .image3{
        display: none;
    }
    .image3-b-w{
        width: 160px;
        margin-left: 300px;
        margin-top: -70px;
    } */
    #fourth-section-list{
        margin-left: -45px;
        margin-bottom: 40px;
        display: none;
    }
    #fourth-col-lg-8 {
        margin-top: 190px;
    }
    #card-1{
        margin-left: -59px;
    }
    #card-2{
        margin-left: -25px;
    }
    #card-3{
        margin-left: 330px;
    }
    
    #row-4{
        margin-left: 15;
    }
    #col-lg-3-0 {
        width: 170px;
    }
    #col-lg-3 {
        display: none;
        width: 180px;
    }
    .fifth-section-img{
        width: 576px;
        margin-left: -10;   
    }
    .sixth-section-img{
        width: 576px;
        margin-left: -10; 
    }
}
@media only screen and (min-width: 768px) {
    .navbar-brand{
        width: auto;
        height: 100px;
        margin-left: 80px;
    }
    .top-nav-bar {
        background-color:#01416f;
        width: 100%;
        height: auto;
        padding-top: 10px;
        position: absolute;
        top: 105px;
        right: 0;
        z-index: 2;

    }
    #li a{
        margin-top: 00px;
        margin-bottom: 0px;
        width: 100%;
        position:relative;
        top: 5px;
        right: 0;
        z-index: 2;
    }
    .firstimg{
        margin-top: 57px;
        height: 700px;
    }
    .firstimg-word-h1{
        font-size: 40px;
        margin-top: -190px;
    }
    .firstimg-word-h4{
        font-size:25px;
        margin-left: 612px;
        margin-top: -175px;
        padding-bottom: 20px;
    }
    .firstimg-word-p{
        font-size: 13px;
        margin-left: 612px;
        margin-top: -115px;
    }
    .second-section{
        margin-left: 155px;
    }
    .second-section-sub{
        margin-left: 125px;
        width: 500px;
    }
    #se-se-sub-img {
        width: 405px;
    }

    #secondsub1{
        margin-bottom: 20px;
    }  
    #secondsub2{
        margin-bottom: 20px;
    }    
    .second-img{
       display: none;
        
     }
    /* #thirdh1{
        font-size: 45px;
        margin-left: 30px;
        margin-bottom: -90px;
    }
    #third-section-btn{
        margin-top: 125px;
        margin-left: 185px;
    }
    
    .image1-color{
        width: 150px;
        margin-top: -125px;
        margin-left: 130px;
    }
    .image1{
        width: 150px;
        height: auto;
        margin-top: -125px;
        margin-left: 115px;
        display: none;
    }
    .image2-b-w{
        display: none;
    }
    .image2{
        width: 201px;
        margin-top: 80px;
        margin-left: -220px;
    }
    .image3{
        display: none;
    }
    .image3-b-w{
        width: 160px;
        margin-left: 300px;
        margin-top: -70px;
    } */
    #fourth-section-list{
        margin-left: -45px;
        margin-bottom: 40px;
        display: none;
    }
    #fourth-col-lg-8 {
        margin-top: 155px;
    }
    #card-1{
        margin-left: 0px;
    }
    #card-2{
        margin-left: 0px;
    }
    #card-3{
        margin-left: 0px;
    }
    
    #row-4{
        margin-left: 15;
    }
    #col-lg-3-0 {
        width: 180px;
    }
    #col-lg-3 {
        width: 180px;
        display: block;
    }
    .fifth-section-img{
        width: 768px;   
    }
    .sixth-section-img{
        width: 768px;
    }
}
@media only screen and (min-width: 1200px){
    .navbar-brand{
        width: auto;
        height: 100px;
        margin-left: 80px;
    }
    .top-nav-bar {
        background-color:#01416f;
        width: 100%;
        position: absolute;
        top: 105px;
        right: 0;
        z-index: 2;

    }
    #li a{
        margin-top: 00px;
        margin-bottom: 0px;
        width: 100%;
        position:relative;
        top: 5px;
        right: 0;
        z-index: 2;
    }
    .firstimg{
        margin-top: 57px;
        height: 700px;
    }
    .firstimg-word-h1{
        font-size: 50px;
        margin-top: -190px;
    }
    .firstimg-word-h4{
        font-size:25px;
        margin-left: 282px;
        margin-top: -175px;
        padding-bottom: 20px;
    }
    .firstimg-word-p{
        font-size: 13px;
        margin-left: 283px;
        margin-top: -115px;
    }
    .second-section{
        margin-left: 0px;
    }
    .second-section-sub{
        margin-left: -15px;
        width: 1300px;
    }
    .second-img{
        display: block;
         
      }
    #secondimg{
       margin-left: -80px;

    }
    #se-se-sub-img {
        width: 405px;
    }

    #secondsub1{
        margin-bottom: 20px;
    }  
    #secondsub2{
        margin-bottom: 20px;
    }    
    
    /* #thirdh1{
        font-size: 65px;
        margin-left: 10px;
        margin-bottom: -90px;
    }
    #third-section-btn{
        margin-top: 125px;
        margin-left: 165px;
    }
    .image1-color{
        width: 220px;
        margin-left: -260px;
        margin-top: 15px;

    }
    .image1{
        width: 220px;
        height: auto;
        margin-left: 5px;
        margin-top: 15px;
        display: block;
    }
    .image2{
        width: 301px;
        margin-left: -530px;
        margin-top: 300px;
        display: block;
    }
    .image2-b-w{
        display: block;
    }
    .image3{
        display: block;
    }  
    .image3-b-w{
        width: 250px;
        margin-top: 90px;
        margin-left: 250px;
    } */
    #fourth-section-list{
        margin-left: -45px;
        margin-bottom: 40px;
        display: block;
    }
    .fifth-section-img{
        width: 1280px;
        
    }
    #fourth-col-lg-8 {
        margin-top: 0px;
    }
    #card-1{
        margin-left: 550px;
    }
    #card-2{
        margin-left: 0px;
    }
    #card-3{
        margin-left: 0px;
    }
    #row-4{
        margin-left: 100px;
    }
    #col-lg-3-0 {
        width: 300px;
    }
    #col-lg-3 {
        width: 250px;
        display: block;
    }
    .fifth-section-img{
        width: 1280px;
        
    }
    .sixth-section-img{
        width: 1280px;
    }
    
}
@media only screen and (min-width: 1400px){
    .navbar-brand{
        width: auto;
        height: 100px;
        margin-left: 80px;
    }
    .top-nav-bar {
        background-color:#01416f;
        width: 100%;
        position: absolute;
        top: 105px;
        right: 0;
        z-index: 2;

    }
    #li a{
        margin-top: 00px;
        margin-bottom: 0px;
        width: 100%;
        position:relative;
        top: 5px;
        right: 0;
        z-index: 2;
    }
    .firstimg{
        height: 700px;
    }
    .firstimg-word-h1{
        margin-left: 150px;
        padding-left: 24px;
        font-size: 50px;
        margin-top: -190px;
    }
    .firstimg-word-h4{
        font-size:25px;
        margin-left: 282px;
        margin-top: -175px;
        padding-bottom: 20px;
    }
    .firstimg-word-p{
        font-size: 13px;
        margin-left: 283px;
        margin-top: -115px;
    }
    .second-section{
        margin-left: 0px;
    }
    .second-section-sub{
        margin-left: 15px;
        width: 1350px;
    }
    .second-img{
        display: block;
         
    }
    #se-se-sub-img {
        width: 405px;
    }

    #secondsub1{
        margin-bottom: 20px;
    }  
    #secondsub2{
        margin-bottom: 20px;
    }  
    #secondimg{
        margin-left: -5px;
 
     }  
    
    /* #thirdh1{
        font-size: 65px;
        margin-left: 0px;
        margin-bottom: -90px;
    }
    #third-section-btn{
        margin-top: 125px;
        margin-left: 165px;
    }
    .image1-color{
        width: 220px;
        margin-left: -260px;
        margin-top: 15px;

    }
    .image1{
        width: 220px;
        height: auto;
        margin-left: 5px;
        margin-top: 15px;
        display: block;
    }
    .image2{
        width: 301px;
        margin-left: -530px;
        margin-top: 300px;
    }
    .image2-b-w{
        display: block;
    }
    .image3{
        display: block;
    }  
    .image3-b-w{
        width: 250px;
        margin-top: 90px;
        margin-left: 250px;
    } */


    #fourth-section-list{
        
        margin-bottom: 40px;
        display: block;
    }
    #fourth-col-lg-8{

    }
    #fourth-col-lg-8 {
        margin-top: 0px;
    }
    #card-1{
        margin-left: 650px;
    }
    #card-2{
        margin-left: 0px;
    }
    #card-3{
        margin-left: 0px;
    }
    #row-4{
        margin-left: 100px;
    }
    #col-lg-3-0 {
        width: 300px;
    }
    #col-lg-3 {
        display: block;
        width: 300px;
    }
    .fifth-section-img{
        width: 1440px;
        
    }
    .sixth-section-img{
        width: 1440px;
    }
    
}