@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
*,
*::after,
*::before,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
  padding-top: 20px;
    margin-bottom: 20px;
}
a{
  text-decoration: none;
}
.navbar-brand {
    width:auto;
    height: 95px;

}
@media only screen and (max-width: 992px){
  .navbar-brand{
    width: 180px;
    height: auto;
  }
}
@media only screen and (max-width: 1200px){
  .navbar-brand{
    width: 200px;
    height: auto;
  }
}
.nav-items{
    display: inline-block;
    padding: 3px 3px;
    color: #01416f;
    
}
ul{
  text-align: end;
}
.nav-item:hover{
  color: #febc42;
}
.hamberger-menu{
  display: none;
}
@media only screen and (max-width: 1200px){
  .nav-items{
    font-size: x-small;
  }
}
@media only screen and (max-width: 992px){
  .nav-items{
    display: none;
  }
  .topnavbar-section{
    background-color:#fffffe;
  }

  .hamberger-menu{
    display:inline;
    text-align: right;
    font-size: 40px;
    color: #01416f;
    margin-top: 20px;

  }
  


}
.topnavbar-section{
  background-color: #01416f;
}
#navbar{
    margin-top: 20px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #01416f;
  }
  @media only screen and (max-width: 992px){
    .top-nav-bar{
     display: none;
  }
  .navbar-apply{
    display: none;
  }
  } 
  #navbaritems{
    color: #ffffff;
  } 
  #navbaritemsdrop{
    color: #01416f;
  } 
#navbar-apply-icon{
  color: #febc42;
}

  #menu-btn{
    color: #fffffe;
    display: none;
  }
  .navbar-toggler{
    background-color: #fffffe;
   }
/*   
    @media (min-width: 992px){
    nav-item.dropdown{
    margin-top: 0!important;
}
   } */

  #li {
    float: left;
    display: block;   
  }

  li{
    margin-top: 0 !important;
  }
  .nav-items a:hover{
    color: #febc42;
  }
  
  .nav-item a:hover,
  .nav-item a.active{
    color: #febc42 !important;
  }


 #nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #navbarSupportedContent:hover {
      color:#febc42;
  } 
  @media only screen and (max-width: 1200px){
    .navbar-apply {
      margin-top: 12px;
      margin-left: 300px;
      font-weight: bold;
      color: #febc42;
  }
    #li{
      font-size: small;
    }
    .top-nav-bar-apply{
      font-size: small;
      padding-left: -50px;
      
    }
    #top-nav-bar-apply-icon{
      font-size: small;
    }
  }
  /* first section start */
.firstimg{  
    background-size: cover !important; 
    width: 100%;
    height: 80vh;
    background:url("../images/body.jpg");
    background-repeat: no-repeat;                
  }
  .firstimg-word-2{
    position: absolute;
    right: 25%;
    bottom: 0;
  }
  .play-button{
    position: relative;
    background-color: #01416f;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    bottom: 10%;
    left: 135%;
  }
  @media only screen and (min-width: 1500px){
    .firstimg-word-2{
      bottom: 12%;
    }
  }
  .play{
    text-align: center;
    padding-top: 33px;
    color: #fff;
    font-size: large;
    font-family: Abril Fatface;
  }
  @media only screen and (min-width: 1500px){
    .play-button{

    }
  }

  #arrow{
    color: #febc42;
  }
  @media only screen and (max-width: 1400px){
    .firstimg{
      width: 100%;
    }
  }
  @media only screen and (max-width: 1200px){
    .firstimg{
      width: 100%;
    }
  }
  @media only screen and (max-width: 992px){
    .firstimg{
      width: 100%;
    }
    .firstimg-word-p{
      display: none;
    }
    .firstimg-word-h4{
      display: none;
    }
  }
  @media only screen and (max-width: 425px){
    .firstimg{
      width: 100%;
      height: 100%;
    }
  }

  /* .firstimg:hover{
    position: relative;
    opacity: 0;
    cursor:alias;

} */
/* .first-video{
    background-color: black;
    position: absolute;
    top:140px;
    width:100%; 
    height:auto;
    
}   */

/* iframe{
    width: 1440px;
    height: 700px;
} */

  .firstimg-word-h1{
   padding-left: 20px;
    color:#fffffe;
    margin-top: -200px;
    font-size: 50px;
    font-weight: bolder;
    line-height: 50px;
    border-left-style: solid;
    border-color: #febc42;
    border-width: 7px;
  }
  @media only screen and (max-width: 425px){
    .firstimg-word-h1{
      font-size: 27px;
      line-height: 30px;
      margin-top: -100px;
      padding-left: 10px;
      margin-left: 20px;
    }
  }
  .firstimg-word-h4{
    position: absolute;
    color: #fffffe;
    margin-top: -100px;
    margin-left: 280px;
  }
  @media only screen and (max-width: 425px){
    .firstimg-word-h4{
      display: none;
    }
    .firstimg-word-p{
      display: none;
    }
  }
  .firstimg-word-p{
    position: absolute;
    color: #fffffe;
    margin-top: -40px;
    margin-left: 280px;
  }

 h1 {
    margin-top: 30px;
    font-weight: bold;
    color: #01416f;
}
h2 {
    margin-top: 30px;
    font-weight: bold;
    color: #01416f;
}
#footer-section-h3 {
    margin-top: 30px;
    font-weight: bold;
    color: #01416f;
    font-family: Georgia;
}
h3 {
    margin-top: 50px;
    font-weight: bold;
    color: #01416f;
    font-family: Georgia;
}
h4::before{
    content: url();
}

h6 {
    margin-top: 20px;
    color:#01416f;
}
button { 
    outline: none; 
}

#btn1{
    margin-top: 30px;
    position: relative;
    padding: 12px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:#01416f;
    transition: width 0.5s;
    overflow: hidden;
    
}
#btn1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #febc42;
    transition: height linear 0.3s;
    z-index: -1;

}
#btn1:hover{
    background-color:transparent;
}
#btn1:hover::before{
    height:10%;
}
#btn2{
    margin-top: 30px;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    padding:12px;
    font-weight: bold;
    font-size: 18px;
    background-color:#01416f;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:aliceblue;
    transition: width 0.5s
   
}

#btn2::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background:#01416f;
  transition: height linear 0.3s;
  z-index: -1;

}
#btn2:hover {
  background-color:transparent;
  color: #01416f;
}

#btn2a{
  color:#fff !important;
}
#btn2:hover  #btn2a::before{
  color: #01416f;
}
#btn2:hover::before{
  height:10%;
}
/* first section end */

/* second section start */
#se-se-sub-img {
  width: 100%;
}
.second-imge{
    width: auto;
    height: 95%;
    margin-left: -50px;
    min-height: 0px;
    
}
#second-section-h1{
  font-family: inter;
  font-size: 48px;
  font-weight: 900;
  z-index: 1;
}
#second-section-h4{
  margin-top: 50px;
}
@media only screen and (max-width: 1400px){
  .second-imge{
    width: 130% ;
    height: auto;
  }
}
@media only screen and (max-width: 1200px){
  .second-imge{
    width: 120% ;
    height: auto;
  }
}
@media only screen and (max-width: 768px){
  .second-img{
    display: none;
  }
  .second-section {
    padding-bottom: 100px;
  }
  .divider{
    width: 700px;
  }
}
@media only screen and (max-width: 576px){
  .second-img{
    width: 400px;
  }
}
.second-section-sub{
    margin-top: -100px;
}
i{
    color:#01416f;
    font-weight: bold;
}
.divider{
    margin-top: 15px;
    width: 300px;
    height: 3px;
    background-color: #01416f;
    display: inline-block;

}
.second-section-sub{
    margin-left: -20px;
}
#secondsub3{
  padding-left: 10px;
}
#col-lg-4-0{
  background-color: #fffffe;
}
.image-scale{
  overflow: hidden !important;
  transition: all 0.5s ease-in;
}

.scale-wrap:hover .image-scale img{
  transform: scale(1.5);
  transition: all 0.5s ease-in;

} 
@media only screen and (max-width: 576px){
  .second-section-sub{
   padding-top: 150px;
   padding-left: 0px;
  }
}
#second-section-h4{
    border-left-style: solid;
    border-color: #febc42;
    padding-left: 20px;

    
}
/* second section end */
/* third section start */
.third-section{
    position: relative;
    padding-bottom: 200px;
    margin-top: 40px;
}
#third-section-btn{
    margin-left: 50px;
    margin-top: 30px;
    position: relative;
    padding-block: 35px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color: #01416f;
    transition: width 0.5s;
    overflow: hidden;
    
}
#third-section-btn::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #febc42;
    transition: height linear 0.3s;

}
.applynow-span{
  position: relative;
}
.applynow-span:hover{
  color: #fff;
}
#third-section-icon{
    color:#01416f;
}
.applynow-span:hover #third-section-icon{
  color: #dcdcdc;
}
#third-section-btn:hover{
    background-color:transparent;
}
#third-section-btn:hover::before{
    height:10%;
}
#thirdh1{
    color: #fffffe;
    padding-top: 50px;
    padding-left: 50px;
    font-family: Abril Fatface;
    font-size: 65px;
    font-weight: lighter;
}
.li-class-flag{
  width: 200px;
  bottom: 10%;
}
@media only screen and (max-width: 576px){
  #thirdh1{
    padding-left: 100px;
  }
  #third-section-btn{
    margin-left: 100px;
  }
  li img{
    margin-left: -40px;
    width: 25%;
  }
}
#rd-span{
    border-bottom-style: solid;
    border-color: #febc42;
    border-width: 5px;
}
    .bg {

        background-color: #01416f;
        background-size: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        right:0;
        bottom: 40;
        left: 0;
        transition: 1s;
        pointer-events: none;
      }
      .li-class {
        margin-top: 70px;
      }
      li
      {  list-style:none;
        margin-top: 20px
         }
      
      li img
          {
            float: left;
            width:45%;
            padding:10px ;
            margin-top: 0px;
            transition: all .25s ease-in;

          }
      #li-img{
        width: 270px;
        margin-left:-60px;
        margin-top: -150px;
      }
      #li-img-2{
        margin-top: 100px;
      }
      li img:hover  {
            margin:-0px 0 0 0;
      }
      
      .menu
          {  width:500px;
             margin:60px auto 0 auto;
             border-radius:10px;
             overflow:hidden;}
             
      .menu li:first-child img {  background:transparent !important;}
      .menu li:nth-child(2) img {  background:transparent !important;}
      .menu li:nth-child(3) img {  background:transparent !important;}
      
      .menu li:first-child:hover ~ .bg {
        background-image: url("../images/slide-1.png");
        background-repeat: no-repeat;
        
      }.menu li:nth-child(2):hover ~ .bg {
        background-image: url("../images/slide-3.png");
        background-repeat: no-repeat;
      }
      .menu li:nth-child(3):hover ~ .bg {
        background-image: url("../images/slide-2.jpg");
        background-repeat: no-repeat;
      }

/* third section end */
/* fourth section start */x

.news-title{
  padding: 100px 0;
}
#fourthh1{
  font-family: Abril Fatface;
  font-weight: lighter;
  color: #01416f;
}
#fourthh5{
  margin-top: 20px;
  padding-left: 20px;
  line-height: 28px;
  border-left-style: solid;
  border-color: #febc42;
  font-family: inter;
  font-weight: lighter;
}
#fourth-section-btn{
  color: #01416f;
  margin-top: 30px;
  position: relative;
  display: inline-block;
  padding-block: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 18px;
  background-color:transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  transition: width 0.5s;
  overflow: hidden;
}
#fourth-section-btn::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #febc42;
  transition: height linear 0.3s;
  z-index: -1;

}
#fourth-section-btn:hover{
  background-color:transparent;
}
#fourth-section-btn:hover::before{
  height:10%;
}

.news-slider{
  position: relative;
  background-color: transparent;
  padding:50px 0;
}
.news-slider::before{
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  background-color: #01416f;
  left: 20%;
  top: 0;

}
.news-content{
  position: relative;

}
.mask-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
}
.mask-wrap-p{
  padding: 10%;
  text-align: center;
  cursor: pointer;
  padding-top: 160px;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease-in;

}
#image-wrap-btn{
  right: 34%;
  bottom: 10%;
  padding: 8px;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  background-color: #febc42;
  color: #01416f;
  font-weight: bold;
  font-size: 12px;
  position: relative;
}
.mask-wrap-p:hover{
  padding-top: 120px;
}
@media only screen and (min-width: 1500px){
  .mask-wrap-p{
    padding-top: 200px;
  }
  #image-wrap-btn{
    right: 36%;
  }
}
@media only screen and (min-width: 1200px){
  .mask-wrap-p{
    padding-top: 200px;
  }
  #image-wrap-btn{
    right: 36%;
  }
}

.image-wrap-img{
  transition: 1s ease;
  transform: scale(1.5s);
}
.image-wrap-img:hover{
  transform: scale(1.5s);
  transition: 1s ease;
  overflow: hidden;
}
/* fourth section end */
/* fifth section start */

.list-group{
  display: flex;
  margin: 0;
  list-style-type: none;
  margin-left: 170px;

}
@media only screen and (max-width: 2500px){
  .list-group{
    margin-left: 50px;
  }
}
.list-group-item{
  padding-top: 10px;
  position:relative;
  padding-left: 50px;
  color: #01416f;
  background-color: #fff;
  padding-inline-end: 40px;
  transition: all 0.5s ease-in;

}
.list-group .list-group-item:hover{
  cursor: pointer;
  color:#ffffff;
  background-color: #01416f60;
}
.content{
  margin: 30px auto;
  height: 500px;
  border-radius: 55;
  box-shadow: 0 2px 1px 0 #dcdcdc,0 -2px 1px 0 #dcdcdc;;
}
.fifth-h2{
  font-family: Abril Fatface;
}
.red{
  background:url("../images/Rectangle11905.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.green{
  background:url("../images/Rectangle11904.jpg");
  background-size: cover;
}
.blue{
  background:url("../images/Rectangle11899.jpg");
  background-size: cover;
}
.purple{
  background:url("../images/Rectangle11899.jpg");
  background-size: cover;
}
@media only screen and (max-width: 1200px){
  #bg{
    width: 186vh;
  }
}
@media only screen and (min-width: 1400px){
  #bg{
    width: 232vh;
  }
}
@media only screen and (max-width: 800px){
  #bg{
    width: 137vh;
  }
}
.full{
  /* position: absolute; */
  right: 0;
}
#bg{
  height: 100vh;
  background-size: cover;
}
#list-content{
  padding: 50px;
  text-align: center;
}
#list-content li{color: #fff; list-style: none;
font-size: 40px;
display: none;
}
.fifth-h4{
  font-size: medium;
  font-family: poppins;
  color: black;
  padding-top: 18px;
}
@media only screen and (max-width: 1500px){
  .fifth-h4{
    padding-top: 43px;
  }
}
.fifth-h4-visa{
  font-family: poppins;
  font-size: medium;
  color: black;
  padding-top: px;
}
@media only screen and (max-width: 1500px){
  .fifth-h4-visa{
    padding-top: 58px;
  }
}
@media only screen and (max-width: 1400px){
  .fifth-h4{
    padding-top: 23px;
  }
  .fifth-h4-visa{
    padding-top: 4px;
  }

}

.fifth-h4-add{
  font-family: poppins;
  font-size: medium;
  color: black;
  padding-top: 16px;
}
.view-all{
  font-family: Abril Fatface;
  padding-bottom: 86px;
}

/* fifth section end */

@media only screen and (min-width: 1400px){
    .fifth-section-img{
      width: 100%;
  }
}
.Sixth-section{
    border-bottom-style: solid;
    border-color:#01416f;

}

#col-lg-3-0{
    border-right-style: solid;
    border-color:#01416f;
    border-width: thin;
}
#fourth-col-lg-8{
    display:flex;
    position:relative;
    margin-left: 530px;

}
#row-4{
    position: absolute;
    margin-top: -140px;
    background-color: #fffffe;
    padding-right: 10px;
    margin-left: 120px;
    
}
.list-group-con:hover{
  background-color: transparent;
}
.list-group-con:hover h2{
  color: #febc42;
}
.list-group-con:hover h4{
  color:#fff;
}
.list-group-con{
  margin-top: -70px;
}
@media only screen and (min-width: 1400px){
  .list-group-con{
    margin-top: -100px;
  }
}