
  /* first section start */
#first-section-img{
    width:100%;
  }
  @media only screen and (min-width: 1400px){
    #first-section-img{
      width: 1440px;
  }
  }
    /* first section end */

    /* Second section start */
  .second-section{
    padding-top: 100px;
  }
  .second-section-h1 {
    color: #01416f;
    font-family:  Georgia;
    font-size: 80px;
    font-weight: bolder;
  } 
  .second-section-p{
    color: #01416f;
    font-weight:800;
    font-size: 45px;
  }
/* Second section end */

/* third section start */

#third-images{
    padding-top: 100px;
    padding-left: 50px;
}

.third-images-1{
    width: 250px;
    height: auto;
    padding-top: 30px;
  }

.third-images-2{
    width: 250px;
    height: auto;
    padding-top: 30px;
  }  

.third-images-3{
    width: 250px;
    height: auto;
    padding-top: 30px;
  }  

.third-images-4{
    width: 250px;
    height: auto;
    padding-top: 30px;
  }  

.third-images-5{
    width: 250px;
    height: auto;
    padding-top: 30px;
  }  

  /* third section end */

  /* fourth section start */

  .fourth-section{
    background-color: #01416f;
    margin-top: 150px;
}
.fourth-section-h1{
    color: #fffffe;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 600;
    padding-left: 130px;

}
.fourth-section-p{
    color: #fffffe;
    padding-top: 100px;
    font-size: 17px;
    padding-bottom: 100px;
    padding-left: 60px;
}
  /* fourth section end */

  /* fifth section start */
  .fifth-section-image{
    background-image: url("../images/Aboutus/Teams/banner-image.jpg");
    width: 100%;
    /* padding: 250px; */
    padding: 250px;
    

  }
  @media only screen and (max-width: 1200px){
    #fifth-section-image{
      width: auto;
  }
}
@media only screen and (max-width: 992spx){
  #fifth-section-image{
    width: auto;
}
}
  /* fifth section end */
  /* sixth section start */
  .sixth-section{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .progress-bar-p{
    font-size: 25px;
    font-weight:500;
  }
  
  .progress-bar{
    padding-top: 15px;
  }
  /* sixth section end */

  /* seventh section start */
.seventh-section{
    padding-top: 50px;
    border-bottom-style: solid;
    border-color:#01416f;
  
  }
  .seventh-section-img{
    margin-left: -10px;
    width: 100%;
  }
  @media only screen and (min-width: 1400px){
    .sixth-section-img{
      width: 100%;
  }
  }
  /* seventh section end */
 