*,
*::after,
*::before,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    margin-bottom: 20px;
}
.navbar-brand {
    width:auto;
    height: 95px;
    margin-left: 80px;
    padding-top: 15px;

}
.nav-items{
    margin-left: 60px;
    display: inline-block;
    padding: 5px 5px;
    color: #01416f;
    
}
.top-nav-bar {
    margin-top: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01416f;
  }
.top-nav-bar-apply {
    margin-top: 12px;
    margin-left: 200px;
    font-weight: bold;
    color: #febc42;
}
#top-nav-bar-apply-icon{
    color: #febc42;
}
  #menu-btn{
    color: #fffffe;
    display: none;
  }



  #li {
    float: left;
    display: block;   
  }
  
 #li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #li a:hover {
    color:#febc42;
  }  

  /* first section start */
#first-section-img{
    width: 1350px;
  }
  @media only screen and (min-width: 1400px){
    #first-section-img{
      width: 1440px;
  }
  }
    /* first section end */

    /* Second section start */
  .second-section{
    padding-top: 100px;
  }
  .second-section-h1 {
    color: #01416f;
    font-family:  Georgia;
    font-size: 80px;
    font-weight: bolder;
  } 
  .second-section-p{
    color: #01416f;
    font-weight:800;
    font-size: 45px;
  }
/* Second section end */

/* third section start */

#third-images{
    padding-top: 100px;
    padding-left: 50px;
}

.third-images-1{
    width: 250px;
    height: auto;
    padding-top: 30px;
  }

.third-images-2{
    width: 250px;
    height: auto;
    padding-top: 30px;
  }  

.third-images-3{
    width: 250px;
    height: auto;
    padding-top: 30px;
  }  

.third-images-4{
    width: 250px;
    height: auto;
    padding-top: 30px;
  }  

.third-images-5{
    width: 250px;
    height: auto;
    padding-top: 30px;
  }  

  /* third section end */

  /* fourth section start */

  .fourth-section{
    background-color: #01416f;
    margin-top: 150px;
}
.fourth-section-h1{
    color: #fffffe;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 600;
    padding-left: 130px;

}
.fourth-section-p{
    color: #fffffe;
    padding-top: 100px;
    font-size: 17px;
    padding-bottom: 100px;
    padding-left: 60px;
}
  /* fourth section end */

  /* fifth section start */
  #fifth-section-image{
    width: 1360px;
    margin-left: -128px;
  }
  /* fifth section end */
  /* sixth section start */
  .sixth-section{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .progress-bar-p{
    font-size: 25px;
    font-weight:500;
  }
  
  .progress-bar{
    padding-top: 15px;
  }
  /* sixth section end */

  /* seventh section start */
.seventh-section{
    padding-top: 50px;
    border-bottom-style: solid;
    border-color:#01416f;
  
  }
  .seventh-section-img{
    margin-left: -10px;
    width: 1360px;
  }
  @media only screen and (min-width: 1400px){
    .sixth-section-img{
      width: 1440px;
  }
  }
  /* seventh section end */
  
  /* footer section start */
  .footer-p{
    margin-top: 40px;
  }
  .footer-section-logo{
    width: 200px;
    height: 70px;
    margin-top: 10px;
  }
  .footer-headers {
    padding-bottom: 10px;
  }
  .footer-section{
    margin-top: 40px;
    padding-left: 50px;
  }
  #col-lg-3-footer{
    border-right-style: solid;
    border-color:#febc42;
    border-bottom: 20px;
  }
  .footer-section-two {
    background-color: #01416f;
    color: #fffffe;
    margin-top: 40px;
  }
  .last-word-on-footer{
    margin-top: 20px;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #footer-section-two-icons{
    color: #fffffe;
  }
  .icons-footer{
    margin-top: 30px;
    margin-left: 300px;
    size: 40px;
    
  }
  #footer-section-h3{
    color: #01416f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  /* footer section end */