/* first section start */
#first-section-img{
  width: 100%;
}
/* @media only screen and (min-width: 1400px){
  #first-section-img{
    width: 1440px;
}
} */
/* Second section start */
.second-section{
    padding-top: 60px;
    padding-bottom: 150px;
}
.second-section-p-one{
    color: #01416f;
    font-family: Abril Fatface;
    font-size: 70px;
    font-weight: 400;
}
.second-section-p-two{
    color: #01416f;
    font-size: 40px;
    font-weight: 800;

}
.second-section-p-three{
    color: #01416f;
    font-size: larger;
    font-weight: 600;
}
/* Second section end */
/* third section start */
.third-section-p-one{
    color: #01416f;
    font-size: 35px;
    font-family: AbrilFatface;
    font-weight: bolder;
}
.third-section-p-two{
    font-size: 18;
    font-weight: 500;
}
#third-section-btn{
    margin-top: 15px;
    position: relative;
    padding-block: 35px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:#01416f;
    transition: width 0.5s;
    overflow: hidden;
    
  }
  #third-section-btn::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #febc42;
    transition: height linear 0.3s;
    z-index: -1;
  
  }
  #third-section-btn:hover{
    background-color:transparent;
  }
  #third-section-btn:hover::before{
    height:10%;
  }
/* third section end */