*,
*::after,
*::before,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
  padding-top: 20px;
    margin-bottom: 20px;
}
.navbar-brand {
    width:auto;
    height: 95px;

}
@media only screen and (max-width: 992px){
  .navbar-brand{
    width: 180px;
    height: auto;
  }
}
@media only screen and (max-width: 1200px){
  .navbar-brand{
    width: 200px;
    height: auto;
  }
}
.nav-items{
    margin-left: 40px;
    display: inline-block;
    padding: 3px 3px;
    color: #01416f;
    
}
.hamberger-menu{
  display: none;
}
@media only screen and (max-width: 1200px){
  .nav-items{
    font-size: small;
  }
}
@media only screen and (max-width: 992px){
  .nav-items{
    display: none;
  }

  .hamberger-menu{
    display:inline;
    text-align: right;
    font-size: 40px;
    color: #01416f;
    margin-top: 20px;

  }
  


}

.top-nav-bar {
    margin-top: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #01416f;
  }
  @media only screen and (max-width: 992px){
    .top-nav-bar{
     display: none;
  }
  }  
.top-nav-bar-apply {
    margin-top: 12px;
    margin-left: 200px;
    font-weight: bold;
    color: #febc42;
}
#top-nav-bar-apply-icon{
    color: #febc42;
}
  #menu-btn{
    color: #fffffe;
    display: none;
  }



  #li {
    float: left;
    display: block;   
  }
  
 #li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  #li a:hover {
    color:#febc42;
  } 
  @media only screen and (max-width: 1200px){
    #li{
      font-size: small;
    }
    .top-nav-bar-apply{
      font-size: small;
      padding-left: -100px;
    }
    #top-nav-bar-apply-icon{
      font-size: small;
    }
  } 

/* first section start */
#first-section-img{
  width: 100%;
}
/* @media only screen and (min-width: 1400px){
  #first-section-img{
    width: 1440px;
}
} */
/* Second section start */
.second-section{
    padding-top: 60px;
    padding-bottom: 150px;
}
.second-section-p-one{
    color: #01416f;
    font-family: Abril Fatface;
    font-size: 70px;
    font-weight: 900;
}
.second-section-p-two{
    color: #01416f;
    font-size: 40px;
    font-weight: 800;

}
.second-section-p-three{
    color: #01416f;
    font-size: larger;
    font-weight: 600;
}
/* Second section end */
/* third section start */
.third-section-p-one{
    color: #01416f;
    font-size: 35px;
    font-family: AbrilFatface;
    font-weight: bolder;
}
.third-section-p-two{
    font-size: 18;
    font-weight: 500;
}
#third-section-btn{
    margin-top: 15px;
    position: relative;
    padding-block: 35px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    background-color:transparent;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    color:#01416f;
    transition: width 0.5s;
    overflow: hidden;
    
  }
  #third-section-btn::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #febc42;
    transition: height linear 0.3s;
    z-index: -1;
  
  }
  #third-section-btn:hover{
    background-color:transparent;
  }
  #third-section-btn:hover::before{
    height:10%;
  }
/* third section end */

/* upper-footer section start */
.upper-footer-section{
  padding-top: 50px;
  border-bottom-style: solid;
  border-color:#01416f;

}
.upper-footer-section-img{
  margin-left: 0px;
  width: 100%;
  background-image: url("../images/Rectangle11907.jpg");
}
.upper-footer-section-h1{
  background-color: rgba(0, 0, 0, 0.603);
  color: #fffffe;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 440px;
  font-size: 55px;
  font-weight: 700;
}
@media only screen and (max-width: 1200px){
  .upper-footer-section-h1{
    font-size: 40px;
    padding-left: 280px;
  }
}
@media only screen and (max-width: 992px){
  .upper-footer-section-h1{
    font-size: 30px;
    padding-left: 210px;
  }
}
@media only screen and (max-width:425px){
  .upper-footer-section-h1{
    font-size: 30px;
    padding-left: 60px;
  }
}
/* upper-footer section end */

      /* footer section start */
  .footer-p{
    margin-top: 40px;
  }
  .footer-section-logo{
    width: 200px;
    height: 70px;
    margin-top: 10px;
  }
  .footer-headers {
    padding-bottom: 10px;
  }
  .footer-section{
    margin-top: 40px;
    padding-left: 50px;
  }
  #col-lg-3-footer{
    border-right-style: solid;
    border-color:#febc42;
    border-bottom: 20px;
  }
  .footer-section-two {
    background-color: #01416f;
    color: #fffffe;
    margin-top: 40px;
  }
  .last-word-on-footer{
    margin-top: 20px;
    margin-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #footer-section-two-icons{
    color: #fffffe;
    padding-left: 15px;
  }
  .icons-footer{
    margin-top: 30px;
    margin-left: 200px;
    size: 40px;
    
  }
  #footer-section-h3{
    color: #01416f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
  }
  @media only screen and (max-width: 1200px){
    .icons-footer{
      margin-top: 30px;
      margin-left: 100px;
  }
}
  @media only screen and (max-width: 992px){
    .footer-section-two{
      padding-left: 150px;
    }
    .icons-footer{
      margin-top: -10px;
      padding-bottom: 40px;
}
@media only screen and (max-width: 425px){
  .footer-section-two{
    padding-left: 0px;
  }
  .icons-footer{
    margin-left: 70px;
    margin-top: -10px;
    padding-bottom: 40px;
}
}
}
  /* footer section end */